<div class="d-flex" style="margin-top: 5%;">
  <div class="d-flex flex-column container">
    <div class="d-inline-flex">
      <a class="navbar-brand fs-3 user-select-none mw-75">Lista de Produtos</a>
      <form class="d-flex ms-auto">
        <input (change)="searchProduct($event)" class="form-control me-2" style="width: 250px;" type="search"
          placeholder="Pesquisar" aria-label="Search" *ngIf="products.length > 0">
        <button class="btn btn-outline-primary w-100" type="button" data-bs-toggle="modal"
          data-bs-target="#produtoModal">
          <strong class="me-3">+</strong>Adicionar Produto
        </button>
      </form>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5" *ngIf="products.length === 0">
      <h3 class="mt-5">Não há produtos disponíveis</h3>
    </div>
    <table class="table border mt-2 text-center" *ngIf="products.length > 0">
      <thead>
        <tr>
          <th scope="col">Nome do Produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preço</th>
          <th scope="col">Categoria</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data de Validade</th>
          <th scope="col">Desconto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td *ngIf="!product.isEditing">{{ product.name }}</td>
          <td *ngIf="product.isEditing">
            <input type="text" [(ngModel)]="product.name" class="form-control w-75 text-center" />
          </td>

          <td *ngIf="!product.isEditing">{{ product.stockQuantity }}</td>
          <td *ngIf="product.isEditing">
            <input disabled="true" type="number" [(ngModel)]="product.stockQuantity"
              class="form-control w-75 text-center" />
          </td>

          <td *ngIf="!product.isEditing">R${{ product.price }}</td>
          <td *ngIf="product.isEditing">
            <input type="number" [(ngModel)]="product.price" class="form-control w-75 text-center" />
          </td>

          <td *ngIf="!product.isEditing">{{ translateCategory(product.category) }}</td>
          <td *ngIf="product.isEditing">
            <select class="form-select" [(ngModel)]="product.category" required>
              <option value="" disabled>Selecione uma categoria</option>
              <option *ngFor="let category of categories" [value]="category.value">{{ category.label }}</option>
            </select>
          </td>

          <td *ngIf="!product.isEditing">{{ product.description }}</td>
          <td *ngIf="product.isEditing">
            <input type="text" [(ngModel)]="product.description" class="form-control w-75 text-center" />
          </td>

          <td *ngIf="!product.isEditing">{{ product.expirationDate }}</td>
          <td *ngIf="product.isEditing">
            <input type="date" [(ngModel)]="product.expirationDate" class="form-control w-75 text-center" />
          </td>

          <td *ngIf="!product.isEditing">{{ product.productDiscount }}%</td>
          <td *ngIf="product.isEditing">
            <input type="number" [(ngModel)]="product.productDiscount" class="form-control w-75 text-center" />
          </td>

          <td class="mt-2 d-flex">
            <svg *ngIf="!product.isEditing" (click)="editProduct(product)" xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-pencil me-2 mb-2 cursor-pointer" viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2L14 4.793 13.293 5.5 10.5 2.707 11.207 2zm1.586 1.586L10.5 5.5 9.793 4.793 12.586 2l.707.707zm-9.9 9.9l-.354.353-.708.707 1.061-.354.354-.354L2.293 12.5l.707.707zm-.707 1.768l-.708.707 1.061-.354.354-.354-1.061-.354-.354.354zm1.768-1.768L2.293 11.5l.707.707 1.061-.354-.707-.707zm-.707 1.768l-.708.707 1.061-.354.354-.354L2.793 13.5l.707.707zm-.707 1.768l-.708.707 1.061-.354.354-.354L3.793 14.5l.707.707zm1.768-1.768L3.293 13.5l.707.707 1.061-.354-.707-.707zm-.707 1.768l-.708.707 1.061-.354.354-.354-1.061-.354-.354.354zm-1.768-9.9l.354.354-.354.354-.354-.354zm9.9-9.9l.354.354-.354.354-.354-.354z" />
            </svg>

            <svg *ngIf="!product.isEditing" (click)="removeProduct(product.id)" xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-trash ms-2 mb-2 cursor-pointer"
              viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg>

            <button *ngIf="product.isEditing" (click)="saveProduct(product)" class="btn btn-primary me-1">Save</button>
            <button *ngIf="product.isEditing" (click)="cancelEditProduct(product)"
              class="btn btn-secondary">Cancel</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<div class="modal fade" id="produtoModal" tabindex="-1" aria-labelledby="produtoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produtoModalLabel">Adicionar Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
          <div class="mb-3">
            <label for="nomeProduto" class="form-label">Nome do Produto</label>
            <input type="text" class="form-control" id="nomeProduto" name="nomeProduto" ngModel
              placeholder="Digite o nome do produto" required>
          </div>
          <div class="mb-3">
            <label for="precoProduto" class="form-label">Preço</label>
            <input type="number" class="form-control" id="precoProduto" name="precoProduto" ngModel
              placeholder="Digite o preço" required>
          </div>
          <div class="mb-3">
            <label for="categoriaProduto" class="form-label">Categoria</label>
            <select class="form-select" id="categoriaProduto" name="categoriaProduto" ngModel required>
              <option value="" disabled selected>Selecione uma categoria</option>
              <option *ngFor="let category of categories" [value]="category.value">
                {{ category.label }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="descricaoProduto" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricaoProduto" name="descricaoProduto" ngModel rows="3"
              placeholder="Digite a descrição do produto" required></textarea>
          </div>
          <div class="mb-3">
            <label for="dataValidadeProduto" class="form-label">Data de Validade</label>
            <input type="date" class="form-control" id="dataValidadeProduto" name="dataValidadeProduto" ngModel>
          </div>
          <div class="mb-3">
            <label for="descontoProduto" class="form-label">Desconto (%)</label>
            <input type="number" class="form-control" id="descontoProduto" name="descontoProduto" ngModel
              placeholder="Digite o desconto">
          </div>
          <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#produtoModal">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>