<div class="card-container" [ngClass]="{ 'bg-danger': status === 'Inativo' }">
    <div class="d-flex justify-content-between card-body bg-ca">
        <div class=" flex-column">
            <div class="d-flexalign-items-center">
                <h4 class="mb-0">{{nome}}</h4>
            </div>
            <span class="fs-5 fw-light">{{cargo}}</span>
        </div>
        <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
            </button>
            <ul class="dropdown-menu text-center dropdown-menu bg-light">
                <!-- <li><a class="dropdown-item" href="#">edit</a></li>
                <li><a class="dropdown-item text-warning" href="#">report</a></li>
                <li><hr class="dropdown-divider border-top border-secondary"></li> -->
                @if(status === 'Ativo')
                {
                <li><button (click)="clientStatusToggle(status)" type="button" class="dropdown-item text-danger">Desativar usuário</button></li>
                } @else {
                <li><button (click)="clientStatusToggle(status)" type="button" class="dropdown-item text-success">Ativar usuário</button></li>
                }
            </ul>
        </div>
    </div>
    <h5 class="status m-2 fw-semibold">{{status}}</h5>
</div>