<div class="d-flex" style="margin-top: 10%;">

    <div class="d-flex flex-column container">
        <div class="d-inline-flex">
            <a class="navbar-brand fs-3 user-select-none mw-75">Histórico de Movimentações</a>
            <form class="d-flex ms-auto">
                <input class="form-control me-2" style="width: 250px;" type="search" placeholder="Pesquisar"
                    aria-label="Search">
                <button class="btn btn-outline-primary w-100" (click)="popAlert()" type="button">Fazer Movimentação</button>
            </form>
        </div>

        <table class="table border mt-2 text-center">
            <thead>
                <tr>
                    <th scope="col">Data de Movimentação</th>
                    <th scope="col">Quantidade Total</th>
                    <th scope="col">Tipo de Movimentação</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Desconto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.dataMovimentacao}}</td>
                    <td>{{order.quantidadeTotal}}</td>
                    <td>{{order.tipoMovimentacao}}</td>
                    <td>{{order.cliente}}</td>
                    <td>{{order.desconto}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>