<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-body text-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <form (submit)="login()" class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-4 text-uppercase">Login</h2>
  
                <div class="form-outline form-dark mb-4">
                  <label class="form-label" for="inputEmail">Email</label>
                  <input type="email" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" id="inputEmail" class="form-control form-control-lg border-dark" required="true" />
                </div>
  
                <div class="form-outline form-dark mb-4">
                <label class="form-label" for="inputPassword">Senha</label>
                  <input type="password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" id="inputPassword" class="form-control form-control-lg border-dark" required="true" />
                </div>
                
                <button id="loginButton" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-outline-light btn-lg px-5 mt-3" type="submit">Login</button>

                <div *ngIf="errorMessage" class="error text-danger mt-3">{{ errorMessage }}</div>
                <!-- <p id="error-message" class="text-danger mt-3" style="display: none;">Email ou senha incorretos.</p> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  