<div class="d-flex flex-column">
    <div class="d-inline-flex" style="max-width: 75%;">
        <a class="navbar-brand fs-3 user-select-none mw-75">Lista de Produtos</a>
        <form class="d-flex ms-auto">
            <input class="form-control m me-2" style="width: 250px;" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-outline-primary w-100" type="button"><strong class="me-3">+</strong>Adicionar Produto</button>
          </form>
    </div>
</div>